
<h1>Have a look at my random quotes: </h1>

<% if @quote %>
	<blockquote>
		<%= @quote.quote %>
	<p> <%= @quote.author %></p>	
	</blockquote>
<% else %>
	<h1>Uhoh, no quotes yet. Do you want to add a quote?</h1>
<% end %>




<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to "New Quote", new_quote_path %></button>
<button type="button" class="btn btn-default btn-lg btn-block"><%= link_to 'All Quotes', quotes_path %></button>

<br>



<!-- Twitter -->
<a href="http://twitter.com/share" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
 <!-- Facebook -->
<a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
<!-- Google+ -->
<a href="https://plus.google.com/share" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>


